In [10]:
import pandas as pd
import numpy as np
import random
import re
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer
from mlxtend.frequent_patterns import apriori, association_rules

# Preparing The Data

In [4]:
data= pd.read_csv('../ml-25m/movies.csv')

In [5]:
ratings_data=pd.read_csv('../ml-25m/ratings.csv',sep=',')

In [6]:
movie_data_ratings_data=data.merge(ratings_data,on = 'movieId', how='inner')

In [7]:
# Group movies_data_ratings_data by userId and create a new column called watched_movies which contains name of all movies watched by the user
movie_data_ratings_data_grouped_by_userId = movie_data_ratings_data.groupby("userId")
movie_data_ratings_data_grouped_by_userId = movie_data_ratings_data_grouped_by_userId["title"].apply(list).reset_index(name="watched_movies")
movie_data_ratings_data_grouped_by_userId.head()
# Create a new dataframe which contains encoded watched_movies column
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
movie_data_ratings_data_grouped_by_userId = movie_data_ratings_data_grouped_by_userId.iloc[:1000] # to reduce the size of dataframe to 1000 rows
movie_data_ratings_data_encoded = movie_data_ratings_data_grouped_by_userId.join(pd.DataFrame(mlb.fit_transform(movie_data_ratings_data_grouped_by_userId.pop('watched_movies')),
                          columns=mlb.classes_,
                          index=movie_data_ratings_data_grouped_by_userId.index))

# Apriori

In [8]:
min_support = 0.1

In [11]:
sampled_data = movie_data_ratings_data_grouped_by_userId.sample(frac=0.25, random_state=42)
frequent_itemsets = apriori(movie_data_ratings_data_encoded.drop(columns=["userId"]), min_support=min_support, use_colnames=True)

C:\Users\mbber\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [12]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [13]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2001: A Space Odyssey (1968)),(Blade Runner (1982)),0.152,0.214,0.107,0.703947,3.289474,0.074472,2.654933,0.820755
1,(2001: A Space Odyssey (1968)),"(Matrix, The (1999))",0.152,0.424,0.109,0.717105,1.691286,0.044552,2.036093,0.481998
2,(2001: A Space Odyssey (1968)),(Pulp Fiction (1994)),0.152,0.477,0.110,0.723684,1.517158,0.037496,1.892762,0.401973
3,(2001: A Space Odyssey (1968)),(Star Wars: Episode IV - A New Hope (1977)),0.152,0.403,0.117,0.769737,1.910017,0.055744,2.592686,0.561845
4,(2001: A Space Odyssey (1968)),(Star Wars: Episode V - The Empire Strikes Bac...,0.152,0.343,0.122,0.802632,2.340034,0.069864,3.328800,0.675302

In [14]:
rules["confidence"].min()

0.7

In [16]:
random_sample = rules.sample()

In [17]:
print(random_sample["antecedents"])

104059    (Silence of the Lambs, The (1991), Shawshank R...
Name: antecedents, dtype: object

In [18]:
random_sample

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
104059,"(Silence of the Lambs, The (1991), Shawshank R...","(Matrix, The (1999))",0.111,0.424,0.102,0.918919,2.167262,0.054936,7.104,0.605836

In [19]:
# Generate frequent itemsets for different sizes (e.g., 3, 4, 5, 6)
frequent_itemsets_3 = apriori(movie_data_ratings_data_encoded.drop(columns=["userId"]), min_support=min_support, use_colnames=True, max_len=3)
rules_3 = association_rules(frequent_itemsets_3, metric="confidence", min_threshold=0.7)

C:\Users\mbber\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [20]:
frequent_itemsets_4 = apriori(movie_data_ratings_data_encoded.drop(columns=["userId"]), min_support=min_support, use_colnames=True, max_len=4)
rules_4 = association_rules(frequent_itemsets_4, metric="confidence", min_threshold=0.7)

C:\Users\mbber\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [22]:
frequent_itemsets_5 = apriori(movie_data_ratings_data_encoded.drop(columns=["userId"]), min_support=min_support, use_colnames=True, max_len=5)
rules_5 = association_rules(frequent_itemsets_5, metric="confidence", min_threshold=0.7)

C:\Users\mbber\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [23]:
frequent_itemsets_6 = apriori(movie_data_ratings_data_encoded.drop(columns=["userId"]), min_support=min_support, use_colnames=True, max_len=6)
rules_6 = association_rules(frequent_itemsets_6, metric="confidence", min_threshold=0.7)

C:\Users\mbber\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [24]:
rules_3.sample()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
9051,"(Pretty Woman (1990), Forrest Gump (1994))","(Silence of the Lambs, The (1991))",0.191,0.441,0.135,0.706806,1.602735,0.050769,1.906589,0.464854

In [25]:
rules_4.sample()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
36196,"(Fight Club (1999), Star Wars: Episode VI - Re...","(Star Wars: Episode IV - A New Hope (1977), Lo...",0.143,0.198,0.101,0.706294,3.56714,0.072686,2.730619,0.839747

In [26]:
rules_5.sample()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
21084,"(Apollo 13 (1995), Terminator 2: Judgment Day ...",(Jurassic Park (1993)),0.136,0.4,0.128,0.941176,2.352941,0.0736,10.2,0.665509

In [27]:
rules_6.sample()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
92443,"(Star Wars: Episode IV - A New Hope (1977), Te...",(Raiders of the Lost Ark (Indiana Jones and th...,0.144,0.198,0.107,0.743056,3.752806,0.078488,3.121297,0.856931